html, body {
    height: 100%;
    color: #ffffff;
    background-color: #8fee00;
}

body {
    margin: 0;
    font-family: 'Montserrat';
}

.web-container {
    background-color: #1d1d1d;
}

.intro {
    background-color: #474747;
    height: 100vh;
    
}

/* .intro>div {
    flex: 0 50%;
} */

.intro .text {
    padding: 200px 200px 0;
    height: 100%;
}

.intro .image img {
    height: 100vh;
    width: 100%;
    box-sizing:border-box;
    margin: -20px -20px -20px 0;
}

.overview {
    height: 300px;
    display:flex;
    align-items: center;
    text-align: center;
    padding: 0 50px;
}

.overview>.subject {
    flex: 0 25%;
}

.subject {
    color: #ffffff;
    text-decoration: none;
}

.subject:hover {
    color: #8fee00;
    text-decoration: none;
}

.subject .icon {
    font-size: 72pt;
}