html, body {
    height: 100%;
    color: #ffffff;
    background-color: #8fee00;
}

body {
    margin: 0;
    font-family: 'Montserrat';
}

.web-container {
    background-color: #1d1d1d;
}

.intro {
    background-color: #474747;
    height: 100vh;
    
}

/* .intro>div {
    flex: 0 50%;
} */

.intro .text {
    padding: 200px 200px 0;
    height: 100%;
}

.intro .image img {
    height: 100vh;
    width: 100%;
    box-sizing:border-box;
    margin: -20px -20px -20px 0;
}

.overview {
    display:flex;
    align-items: center;
    text-align: center;
    padding: 50px;
}

.overview>.subject {
    flex: 0 25%;
}

.overview .subject, .menu-item {
    color: #ffffff;
    text-decoration: none;
}

.overview .subject:hover {
    color: #8fee00;
    text-decoration: none;
}

.overview .subject .icon {
    font-size: 72pt;
}



/* ///////////////////////// */
/* ///// SUBJECT PAGES ///// */
/* ///////////////////////// */

.header {
    height: 100px;
    background-color: #8fee00;
    display:flex;
    justify-content: center;
}

.menu {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 24pt;
    height: 100%;
    width: 100%;
    padding: 0 250px;
}

.menu>.menu-item {
    flex: 0 25%;
}

.menu-item {
    padding: 0 20px;
}

.content {
    padding: 40px 250px;
    /* min-height: 100vh; */
}

.web-container.subject .overview {
    background-color: #474747;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    padding: 40px 100px;
}

.web-container.subject .overview>.object {
    flex: 0 50%;
}

.object {
    background-color: #ffffff;
    color: #000000;
    font-size: 24pt;
    text-decoration: none;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.object:hover {
    background-color: #8fee00;
    color: #ffffff;
}



/* ////////////////////// */
/* ///// INFO PAGES ///// */
/* ////////////////////// */

.title {
    margin-bottom: 40px;
}

.section {
    margin-bottom: 60px;
}

.return {
    color: #ffffff;
    text-decoration: none;
}

.return:hover {
    color: #8fee00;
    text-decoration: none;
}